# local settings
# GOOS = linux
# GOARCH = amd64

# configuration of mysql service
MYSQL_SERVICE_HOSTNAME=wedding-mysql-service
MYSQL_SERVICE_HTTP_PORT=3306
MYSQL_SERVICE_HTTPS_PORT=
MYSQL_SERVICE_USER=user
MYSQL_SERVICE_PASSWORD=password
MYSQL_SERVICE_ROOT_PASSWORD=rootpassword
MYSQL_SERVICE_DATABASE=wedding_db

# wedding webserver
MODE=development
DEBUG=4
APP_NAME=wedding-go-service
BUILD_DIR=./docker-volumes/main-service-files
# localhost cert and key (development only)
# these needs to be generated with: make generate
SELF_SIGNED_CERT_PATH=./certificate/self_sign_cert/localhost_wedding_service.crt
SELF_SIGNED_KEY_PATH=./certificate/self_sign_cert/localhost_wedding_service.key
# Hostnames and aliases
### WEDDING_SERVICE_HOSTNAMES=domain:alias,alias2|domain2:alias3
### Example:
### WEDDING_SERVICE_HOSTNAMES=example.com:www.example.com,www2.example.com|example2.com:www.example2.com
WEDDING_SERVICE_HOSTNAMES=$(APP_NAME):www.$(APP_NAME)
WEDDING_SERVICE_HTTP_PORT=8080
WEDDING_SERVICE_HTTPS_PORT=8443
# experimental environment
GOEXPERIMENT=synctest

