# mode
MODE=development
DEBUG=4

# go envs
TEST_GOOS=windows # if you work on linux, change this
TEST_GOARCH=amd64

# docker
DOCKER_GOOS=linux
DOCKER_GOARCH=amd64
APP_NAME=wedding-go-service
BUILD_DIR=./docker-volumes/main-service-files

# localhost cert and key (development only)
LOCALHOST_CERT=./certificate/localhost_wedding_service.crt
LOCALHOST_KEY=./certificate/localhost_wedding_service.key

# configuration of mysql service
MYSQL_SERVICE_HOSTNAME=wedding-mysql-service
MYSQL_SERVICE_HTTP_PORT=3306
MYSQL_SERVICE_HTTPS_PORT=
MYSQL_SERVICE_USER=user
MYSQL_SERVICE_PASSWORD=password
MYSQL_SERVICE_ROOT_PASSWORD=rootpassword
MYSQL_SERVICE_DATABASE=wedding_db

# configuration of wedding service
WEDDING_SERVICE_HTTP_PORT=80
WEDDING_SERVICE_HTTPS_PORT=443
## (development usage only)
### TODO: sometime in future when self-signed cert handles multiple certs, this should be like prod hostnames
WEDDING_SERVICE_DEV_HOSTNAME=$(APP_NAME)
## (production usage only)
### WEDDING_SERVICE_HOSTNAMES=domain:alias,alias2|domain2:alias3
### Example:
### WEDDING_SERVICE_HOSTNAMES=example.com:www.example.com,www2.example.com|example2.com:www.example2.com
WEDDING_SERVICE_PROD_HOSTNAMES=

# experimental environment
GOEXPERIMENT=synctest